<?xml version="1.0" encoding="gbk"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
              			http://www.springframework.org/schema/task
              			http://www.springframework.org/schema/task/spring-task.xsd">
    <!-- 开启注解 -->
    <context:annotation-config/>
    <context:component-scan base-package="com.twq.schedule"/>
    <context:property-placeholder location="classpath:config.properties"/>
    <!-- 开启定时、异步注解 -->
    <task:executor id="myExecutor" pool-size="5"/>
    <task:scheduler id="myScheduler" pool-size="20"/>
    <task:annotation-driven executor="myExecutor" scheduler="myScheduler"/>
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
        <!-- 配置初始化大小、最小、最大 -->
        <property name="initialSize">
            <value>1</value>
        </property>
        <property name="maxActive">
            <value>2</value>
        </property>
        <property name="minIdle">
            <value>1</value>
        </property>
        <!-- 配置获取连接等待超时的时间 -->
        <property name="maxWait">
            <value>60000</value>
        </property>
        <!-- 配置监控统计拦截的filters -->
        <property name="filters">
            <value>stat</value>
        </property>
        <!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="timeBetweenEvictionRunsMillis">
            <value>60000</value>
        </property>
        <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
        <property name="minEvictableIdleTimeMillis">
            <value>300000</value>
        </property>
        <!--
            <property name="validationQuery"><value>SELECT 'x'</value></property>
            <property name="testWhileIdle"><value>true</value></property> <property name="testOnBorrow"><value>false</value></property>
            <property name="testOnReturn"><value>false</value></property> <property name="poolPreparedStatements"><value>true</value></property>
            <property name="maxOpenPreparedStatements"><value>20</value></property>
        -->
    </bean>
    <!-- mybatis配置 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:com/twq/dao/mapper/*.xml"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.twq.dao.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>
</beans>